<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundlePackageType</key>
    <string>FMWK</string>
    <key>CFBundleName</key>
    <string>metadata_shortener</string>
    <key>CFBundleExecutable</key>
    <string>metadata_shortener</string>
    <key>CFBundleIdentifier</key>
    <string>io.novasama.metadata_shortener</string>
    <key>CFBundleVersion</key>
    <string>0.1.0-4-g5e6ebc4</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0-4-g5e6ebc4</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>iPhoneOS</string>
    </array>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>DTSDKName</key>
    <string>iphoneos</string>
    <key>MinimumOSVersion</key>
    <string>14.0</string>
</dict>
</plist>
